@import 'tailwindcss' source('../../src');
@variant dark (&:where(.dark, .dark *));

@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 500 700;
  src: url('/fonts/Fraunces.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500 700;
  src: url('/fonts/Inter.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 500 700;
  src: url('/fonts/GeistMono.ttf') format('ttf');
}

@theme {
  --font-serif: 'Fraunces', serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;

  --color-background: oklch(var(--background));
  --color-muted-background: oklch(var(--muted));

  --color-foreground: oklch(var(--foreground));
  --color-muted-hover: oklch(var(--muted-hover));
  --color-muted-foreground: oklch(var(--muted-foreground));

  --color-primary: oklch(var(--primary));
  --color-primary-hover: oklch(var(--primary-hover));
  --color-primary-foreground: oklch(var(--primary-foreground));

  --color-secondary: oklch(var(--secondary));
  --color-secondary-hover: oklch(var(--secondary-hover));
  --color-secondary-foreground: oklch(var(--secondary-foreground));

  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));

  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));

  --color-warning: oklch(var(--warning));
  --color-warning-foreground: oklch(var(--warning-foreground));

  --color-success: oklch(var(--success));
  --color-success-foreground: oklch(var(--success-foreground));

  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 0.99 0 0; /* zinc-50 */
    --foreground: 0.21 0.01 286; /* zinc-900 */

    --primary: 0.21 0.01 286; /* zinc-900 */
    --primary-hover: 0.27 0.01 286; /* zinc-800 */
    --primary-foreground: 0.99 0 0; /* zinc-50 */

    --secondary: 0.92 0 286; /* zinc-200 */
    --secondary-hover: 0.97 0 286; /* zinc-100 */
    --secondary-foreground: 0.21 0.01 286; /* zinc-900 */

    --muted: 0.87 0.01 286; /* zinc-300 */
    --muted-hover: 0.92 0 286; /* zinc-200 */
    --muted-foreground: 0.44 0 0; /* zinc-600 */

    --accent: 0.92 0 286; /* zinc-200 */
    --accent-hover: 0.76 0.16 56; /* orange-400 */
    --accent-foreground: 0.21 0.01 286; /* zinc-900 */

    --destructive: 0.64 0.21 25; /* red-500 */
    --destructive-hover: 0.71 0.17 22; /* red-400 */
    --destructive-foreground: 0.21 0.01 286; /* zinc-900 */

    --warning: 0.77 0.16 70; /* amber-500 */
    --warning-hover: 0.84 0.16 84; /* amber-400 */
    --warning-foreground: 0.21 0.01 286; /* zinc-900 */

    --success: 0.72 0.19 150; /* green-500 */
    --success-hover: 0.8 0.18 152; /* green-400 */
    --success-foreground: 0.21 0.01 286; /* zinc-900 */

    --border: 0.87 0.01 286; /* zinc-300 */
    --input: 0.87 0.01 286; /* zinc-300 */
    --ring: 0.71 0.01 286; /* zinc-400 */

    --radius: 0.5rem;
  }

  * {
    @apply min-w-0 scroll-smooth;
  }

  :not(nav) > ul,
  :not(nav) > ol {
    @apply ml-4 list-inside;
  }

  :not(nav) > ul {
    @apply list-disc;
  }

  :not(nav) > ol {
    @apply list-decimal;
  }
}
