---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1 class="font-serif">Hello World</h1>
  <p class="font-sans">This is a test</p>
  <div
    class="bg-card text-card-foreground outline-outline space-y-4 rounded-lg p-4 outline"
  >
    <p class="font-mono">This is a test</p>
    <div class="outline-outline w-50 rounded-md p-4 outline">
      <p class="font-mono">This is a test</p>
      <div class="outline-outline w-25 rounded-sm p-4 outline">
        <p class="font-mono">This is a test</p>
      </div>
    </div>
  </div>
</BaseLayout>
