---
import Button from './Button.astro';
import Heading from './Heading.astro';
---

<section class="space-y-4 pt-24">
  <hgroup class="mb-12 text-balance">
    <Heading level="h2" size="3xl">Buttons</Heading>
    <p>
      This component should look familiar if you've ever used shadcn/ui. While you <em>can</em> use shadcn/ui,
      I prefer not to as there is no need for every component to be a React component.
    </p>
  </hgroup>
  <div class="flex flex-wrap gap-4">
    <Button>Default</Button>
    <Button variant="destructive">Destructive</Button>
    <Button variant="warning">Warning</Button>
    <Button variant="success">Success</Button>
    <Button variant="outline">Outline</Button>
    <Button variant="secondary">Secondary</Button>
    <Button variant="ghost">Ghost</Button>
    <Button variant="link">Link</Button>
  </div>
</section>
