---
import { cn } from '../utills/utils';
interface Props {
  href: string;
  externalLink?: boolean;
  class?: string;
}

const { href, externalLink = false, class: className } = Astro.props;
---

<a
  href={href}
  class={cn('underline text-muted-foreground hover:text-foreground underline-offset-4', className)}
  {...externalLink && { target: "_blank", rel: "noopener noreferrer" }}>
  <slot />
</a>