---
import Link from './Link.astro';

const navItems = [
  { label: 'Home', href: '/' },
  { label: 'Work', href: '/work' },
  { label: 'Writing', href: '/writing' },
  { label: 'Speaking', href: '/speaking' },
  { label: 'About', href: '/about' },
  { label: 'Contact', href: '/contact' },
];
---

<nav class="flex items-center justify-between py-4">
  <Link
    href="/"
    class="text-foreground font-serif text-lg font-bold tracking-tight no-underline md:text-xl lg:text-2xl"
    >Why Not Astro?</Link
  >
  <ul class="flex gap-x-2 text-sm md:gap-x-4">
    {
      navItems.map(item => (
        <li>
          <Link href={item.href} class="no-underline hover:underline">
            {item.label.toLowerCase()}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
