---
import '../styles/global.css';
import HGroup from '../components/HGroup.astro';
import Nav from '../components/Nav.astro';
import Navigation from '../components/preact/Navigation.tsx';

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <main>
      <div class="container mx-auto max-w-screen-xl px-4 py-8">
        <HGroup pageTitle={pageTitle} pageDescription={pageDescription} />
        <slot />
      </div>
    </main>
  </body>
</html>
