---
import '../styles/global.css';
import HGroup from '../components/HGroup.astro';
import Nav from '../components/Nav.astro';

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="container mx-auto max-w-screen-xl px-4 py-8">
      <header>
        <Nav />
      </header>
      <main>
        <HGroup pageTitle={pageTitle} pageDescription={pageDescription} />
        <slot />
      </main>
    </div>
  </body>
</html>
